<!DOCTYPE>
<html>

<head>
    <meta charset="utf-8">
    <title>CHECKOUT</title>
    <link rel="stylesheet" href="css/estilos.css">
</head>

<body>
    <!-- inicio header barra de navegacion xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <header>
        <div class="contenedor">
            <div class="logoUno">
                <a href="/">
                    <img src="imagenes/juegos/logoEA2.png" alt="">
                </a>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="#">Novedades</a>
                    </li>
                    <li>
                        <a href="#">Actualizaciones</a>
                    </li>
                    <li>
                        <a href="#">Comunidad</a>
                    </li>
                    <li>
                        <a href="#">Competitivo</a>
                    </li>
                    <li>
                        <a href="#">Acerca de</a>
                    </li>
                    <li>
                        <a href="#">Sobre EA sports</a>
                    </li>
                </ul>
            </nav>
            <div class="boton">
                <a href="/">
                    <button>Seguir Comprando</button>
                </a>
            </div>
            <div class="carrito">
                <img src="imagenes/checkout/carrito.png" alt="">
                <h5>
                    <span class="carri">0</span>
                </h5>
            </div>
            <div class="logoDos">
                <img src="imagenes/juegos/logoEA.png" alt="">
            </div>
        </div>
    </header>
    <!-- fin header xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <!-- inicio misJuegos xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <div class="misJuegos">
        <div class="infoMisJuegos">
            <div class="tituloMisJuegos">
                <h1>Mis Juegos</h1>
            </div>
            <div class="logoMisJuegos">
            </div>
        </div>
        <div class="imagenesDeJuegosEnCarrito">
            <ul class="lista"></ul>
        </div>
        
    </div>
    <!-- fin misJuegos xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <!-- inicio datosUsuario xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <div class="datosUsuario">
        <div class="infoUsuario">
            <div class="tituloDatosUsuario">
                <h2>Datos de Usuario</h2>
            </div>
            <div class="datosNombre">
                <div class="nombreUsuario">
                    <input type="text" id="cuadro" name="direccion" class="inputDos" placeholder="Nombre"> </div>
                <div class="botonNombreUsuario">
                    <button class="masPeque">submit</button>
                </div>
            </div>
            <div class="datosCuentaUsuario">
                <div class="cuentaUsuario">
                    <input type="text" name="direccion" class="inputDos" placeholder="Cuenta de Origin"> </div>
                <div class="botonCuentaUsuario">
                    <button class="masPeque">submit</button>
                </div>
            </div>
            <div class="datosTarjetaUsuario">
                <div class="tarjetaUsuario">
                    <input type="text" name="direccion" class="inputDos" placeholder="Tarjeta de Crédito"> </div>
                <div class="botonTarjetaUsuario">
                    <button class="masPeque">submit</button>
                </div>
            </div>
        </div>
        <div class="botonComprarUsuario">
            <button class="masGrande" id="botonComprar">Comprar</button>
        </div>
    </div>
    <!-- inicio footer xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <div class="footer">
        <div class="infoUno">
            <div class="textoInfoUno">
                <h4>FIFA 18 </h4>
            </div>
            <div class="listaInfoUno">
                <ul>
                    <li>
                        <a href="#">Sobre FIFA 18</li>
                    </a>
                    <li>
                        <a href="#">Ultimate Team</a>
                    </li>
                    <li>
                        <a href="#">Novedades</a>
                    </li>
                    <li>
                        <a href="#">Actualizaciones por correo</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="infoDos">
            <div class="listaInfoDos">
                <ul>
                    <li>
                        <a href="#">Competitivo</a>
                    </li>
                    <li>
                        <a href="#">Comunidad</a>
                    </li>
                    <li>
                        <a href="#">FIFA para móviles</a>
                    </li>
                    <li>
                        <a href="#">Consigue FIFA</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="siguenos">
            <div class="textoSiguenos">
                <h4>Síguenos</h4>
            </div>
            <div class="listaSiguenos">
                <ul>
                    <li>
                        <a href="#">Facebook</a>
                    </li>
                    <li>
                        <a href="#">Twitter</a>
                    </li>
                    <li>
                        <a href="#">Newsletter</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="lugares">
            <div class="textoLugares">
                <h4>Lugares</h4>
            </div>
            <div class="listaLugares">
                <ul>
                    <li>
                        <a href="#">América</a>
                    </li>
                    <li>
                        <a href="#">Europa</a>
                    </li>
                    <li>
                        <a href="#">Asia</a>
                    </li>
                    <li>
                        <a href="#">Oceanía</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="logoFooter"></div>
    </div>
    <!-- fin footer xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

    <script src="js/carrito.js"></script>
    <script src="js/checkout.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>