<!DOCTYPE>
<html>

<head>
    <meta charset="utf-8">
    <title>FIFA 18</title>
    <link rel="stylesheet" href="css/juego.css">
    <link rel="stylesheet" href="css/baguetteBox.css">
</head>

<body>
    <!-- inicio header barra de navegacion xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <header>
        <div class="contenedor">
            <div class="logoUno">
                <a href="/">
                    <img src="imagenes/paginaPrincipal/logoEAuno.png" alt="">
                </a>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="#">Novedades</a>
                    </li>
                    <li>
                        <a href="#">Actualizaciones</a>
                    </li>
                    <li>
                        <a href="#">Comunidad</a>
                    </li>
                    <li>
                        <a href="#">Competitivo</a>
                    </li>
                    <li>
                        <a href="#">Acerca de</a>
                    </li>
                    <li>
                        <a href="#">Sobre EA sports</a>
                    </li>
                </ul>
            </nav>
            <a href="/">
                <div class="boton">
                    <button>Comprar Ahora</button>
                </div>
            </a>
            <div class="logoDos">
                <img src="imagenes/paginaPrincipal/logoEAdos.png" alt="">
            </div>
        </div>
    </header>
    <!-- fin header xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <!-- inicio banner publicitario xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <div class="banner">
        <div class="imagenRonaldo"></div>
        <div class="infoBanner">
            <div class="logoFifaGrande"></div>
            <div class="texto">
                <p>
                    <b>EA SPORTS™ FIFA 18 </b> hace que se confunda la línea que separa el mundo virtual del real, y consigue
                    darle vida a los jugadores, a los equipos y a las atmósferas que se viven en el juego del mundo.</p>
            </div>
            <div class="imagenBoton">
                <div class="juegos"></div>
                <a href="/">
                    <div class="botonDos">
                        <button>Comprar Ahora</button>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- fin banner publicitario xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <!-- inicio publicidad otros juegos xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <div class="publicidad">
        <div class="masJuegos">
            <div class="fondoInfoMasJuegos">
                <div class="infoMasJuegos">
                    <h2>MAS JUEGOS EA SPORTS</h2>
                    </br>
                    <p>Nuestra misión es inspirar al mundo a través de los juegos.
                        <b> Electronic Arts</b> es un distribuidor líder de juegos para consola, PC y móviles. </br>
                        <b> Nuestro lema:</b> “It`s in the game” </p>
                </div>
            </div>
            <div class="botonesPublicidad">
                <button class="peque">Saber Mas</button>
                <button class="botonBlanco">Contactanos</button>
            </div>
        </div>
        <div class="imagenesJuegos">
            <div class="madden"></div>
            <div class="golf"></div>
            <div class="ufc"></div>
            <button class="botonBlanco">Ver mas</button>
        </div>
    </div>
    <!-- fin publicidad otros juegos xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <!-- inicio caracteristicas xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <!-- caracteristica uno xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <div class="caracteristicaUno">
        <div class="contenido">
            <h1>The Journey</h1>
            </br>
            <h2>El regreso de Hunter</h2>
        </div>
        <div class="contenidoDos">
            <div class="fondoContenidoDos">
                <div class="infoCaracteristicaUno">
                    <p>Tras salirse en la
                        <b> Premier League </b> en su primer año, todo el mundo habla de
                        <b> Alex Hunter.</b> Ha vuelto para disputar su segunda temporada y, tras un tumultuoso proceso de traspaso,
                        tendrá la oportunidad de competir en algunos de los mayores clubes del
                        <b> fútbol mundial.</b>
                    </p>
                </div>
            </div>
            <div class="botonesCaracteristicaUno">
                <button>Ver Trailer</button>
                <button class="botonBlancoGrande">Se parte de la historia</button>
            </div>
        </div>
    </div>
    <!-- fin caracteristica uno xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <!-- inicio caracteristica dos xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <div class="caracteristicaDos">
        <div class="infoCaracteristicaDos">
            <div class="logoUltimate"></div>
            <div class="fondoTextoCaracteristicaDos">
                <div class="textoCaracteristicaDos">
                    <p>Crea tu propia plantilla de
                        <b> Ultimate Team </b> eligiendo entre miles de jugadores en el
                        <b> modo más popular de FIFA. </b> ¡Descubre nuevos objetivos diarios, compite por recompensas semanales
                        en las
                        <b> Squad Battles </b> y mira a los mejores jugadores del mundo en el Canal Champions!</p>
                </div>
            </div>
            <div class="botonesCaracteristicaDos">
                <button>Nuevas valoraciones</button>
                <button class="botonBlancoGrande">Novedades</button>
            </div>
        </div>
        <div class="imagenesJugadores">
            <div class="lukaku"></div>
            <div class="dembele"></div>
            <div class="neymar"></div>
        </div>
    </div>
    <!-- fin caracteristica dos xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <!-- inicio caracteristica tres xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <div class="caracteristicaTres">
        <div class="imagenRonaldoDos"></div>
        <div class="infoCaracteristicaTres">
            <div class="tituloCaracteristicaTres">
                <h1>TECNOLOGIA DE MOVIMIENTOS REALES</h1>
            </div>
            <div class="fondoTextoCaracteristicaTres">
                <div class="texto">
                    <p>
                        FIFA 18 introduce el mayor
                        <b> avance en jugabilidad </b> en la historia de la franquicia: la tecnología de movimiento de jugadores
                        reales. Se trata de un
                        <b> sistema de animación </b> totalmente nuevo que pone a disposición del jugador una capacidad de respuesta
                        sin precedentes y la personalidad del futbolista. Cristiano Ronaldo y otros jugadores de talla mundial
                        se mueven de la misma forma en que lo harían sobre el terreno de juego.</p>
                </div>
            </div>
            <div class="botonesCaracteristicaTres">
                <button>Ver como lo hacen</button>
                <button class="botonBlancoGrande">Novedades</button>
            </div>
        </div>
    </div>
    <!-- fin caracteristica tres xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <!-- fin caracteristicas xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <!-- inicio interaccion xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <div class="interaccion">
        <div class="descripcionInteraccion">
            <div class="tituloInteraccion">
                <h1>ayudanos a escoger el equipo de la semana</h1>
            </div>
            <div class="textoInteraccion">
                <p>Cada semana se posicionan los jugadores destacados de las máximas ligas europeas, ayúdanos a valorarlos y
                    darles el puntaje que se merecen, podrás ganar el mejor jugador para reforzar tu escuadra en FIFA Ultimate
                    Team. Que esperas, valóralos ya. Necesitas ingresar tu cuenta de origin para poder participar.</p>
            </div>
            <div class="datosUsuarioInteraccion">
                <div class="escribirCorreo">
                    <input type="email" name="direccion" class="input" placeholder="Cuenta de Origin"> </div>
                <div class="botonDatosUsuario">
                    <!-- <input type="submit" class="peque"> -->
                    <button class="peque">Valorar</button>
                </div>
            </div>
        </div>
        <!-- parte de interaccion preguntar xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
        <div class="interaccionJugadores">
            <img class="imagenJugadorInteraccion" src="/imagenes/paginaPrincipal/lukaku.png">
            <div class="valoracionJugadores">
                <h3>VALORACION</h3>
                <h3>
                    <span id="demo"></span> PTS</h3>
                <input type="range" min="80" max="100" id="rango">
            </div>
        </div>
        <!-- parte de interaccion preguntar xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    </div>
    <!-- fin interaccion xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <!-- inicio interaccion Dos xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <div class="interaccionDos">
        <div class="contenidoInteraccionDos">
            <div class="ladoIzquierdo">
<div>
<h1 class="modoCarrera" >Modo Carrera</h1>
<p class="seleccionaEquipo">Selecciona tu equipo</p>
                </div>
<div class="equipos">


                
                <div class="izquierda">
                    <div class="equipoUno">
                        <div class="atletico" id="atletico"></div>
                        <h5>Atletico de Madrid</h5>
                    </div>
                    <div class="equipoDos">
                        <div class="barcelona" id="barcelona"></div>
                        <h5>Barcelona</h5>
                    </div>
                    <div class="equipoTres">
                        <div class="chelsea" id="chelsea"></div>
                        <h5>Chelsea</h5>
                    </div>
                </div>
                <div class="derecha">
                    <div class="equipoCuatro">
                        <div class="madrid" id="madrid"></div>
                        <h5>Real Madrid</h5>
                    </div>
                    <div class="equipoCinco">
                        <div class="manchester" id="manchester"></div>
                        <h5>Manchester United</h5>
                    </div>
                    <div class="equipoSeis">
                        <div class="psg" id="psg"></div>
                        <h5>Paris Saint Germain</h5>
                    </div>
                </div>
            </div>

            </div>
            
            <div class="modelado" id="interaccionDosId" ></div>
        </div>
        <div class="formulario">
            <div class="infoUsuario">
            <div class="tituloDatosUsuario">
                <h2>Datos de Jugador</h2>
            </div>
            <div class="datosNombre">
                <div class="nombreUsuario">
                    <input type="text" id="cuadro" name="direccion" class="inputDos" placeholder="Nombre"> </div>
            </div>
            <div class="datosCuentaUsuario">
                <div class="cuentaUsuario">
                    <input type="text" id="edadDatos" name="direccion" class="inputDos" placeholder="Edad"> </div>
            </div>
            <div class="datosTarjetaUsuario">
                <div class="tarjetaUsuario">
                    <input type="text" id="nacionalidadDatos" name="direccion" class="inputDos" placeholder="Nacionalidad"> </div>
            </div>
        </div>
        <div class="botonComprarUsuario">
            <button class="masGrande" id="botonComprar" onclick="comprarJugador()">Comprar</button>
        </div>
        </div>
    </div>
    <!-- fin interaccion Dos xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <!-- inicio galerias xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <div class="galerias">
        <div class="galeriaVideos">
            <div class="video">
                <iframe width="862" height="485" src="https://www.youtube.com/embed/l1FJfr_spJQ" frameborder="0" allow="autoplay; encrypted-media"
                    allowfullscreen></iframe>
            </div>
            <div class="botonVideos">
                <button>Galeria de videos</button>
            </div>
        </div>
        <div class="galeriaImagenes">
            <div class="tituloGaleriaImagenes">
                <h3>Leyendas</h3>
            </div>
            <div class="imagenPequenaLeyendas">
                <!-- aqui coloco libreria baguette xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
                <div class="content">

                    <div class="baguetteBoxOne gallery">
                        <a href="img/1-1.jpg">
                            <img src="img/thumbs/1-1.png">
                        </a>
                        <a href="img/1-2.jpg">
                            <img src="img/thumbs/1-2.png">
                        </a>
                        <a href="img/1-3.jpg">
                            <img src="img/thumbs/1-3.png" alt="">
                        </a>
                        <a href="img/1-4.png">
                            <img src="img/thumbs/1-4.png" alt="">
                        </a>
                        <a href="img/1-5.jpg">
                            <img src="img/thumbs/1-5.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- completar galerias con libreria vista en clase xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <!-- fin galerias xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <div class="especificaciones">
        <div class="imagenRonaldoJuego"></div>
        <div class="informacionEspecificaciones">
            <div class="tituloInformacionEspecificaciones">
                <h1>especificaciones para pc</h1>
            </div>
            <div class="textoInformacionEspecificaciones">
                <p>La versión para PC de FIFA 18 se lanzará el 29 de septiembre, o el 21 de septiembre para miembros de Origin
                    Access. Echa un vistazo a los requisitos del sistema recomendados y mínimos para PC.</p>
            </div>
            <div class="requisitos">
                <div class="minimos">
                    <div class="tituloRequisitosMinimos">
                        <h4>REQUISITO MÍNIMO </h4>
                    </div>
                    <div class="listaMinimos">
                        <!-- listado requisitos minimos xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
                        <ul>
                            <li>
                                <b>Sistema operativo: </b>Windows 10 de 64-bits.</li>
                            <li>
                                <b> CPU: </b>Intel i3 6300T o equivalente (5,199) - Intel i3 4340 (5,226), e Intel i3 4350 (5,302)
                                como alternativas.</li>
                            <li>
                                <b> Memoria RAM:</b> 8 GB.</li>
                            <li>
                                <b> Espacio disponible en el disco duro: </b>50 GB.</li>
                            <li>
                                <b> Tarjetas gráficas mínimas compatibles: </b>NVidia GeForce GTX 660 (4,116) de 2 GB o equivalente.</li>
                            <li>
                                <b> DirectX: </b>12.</li>
                        </ul>
                    </div>
                </div>
                <div class="maximos">
                    <div class="tituloRequisitosMaximos">
                        <h4>ESPECIFICACIÓN RECOMENDADA </h4>
                    </div>
                    <div class="listaMaximos">
                        <!-- listado requisitos maximos xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
                        <ul>
                            <li>
                                <b> Sistema operativo: </b>Windows 10 de 64-bits.</li>
                            <li>
                                <b> CPU: </b>Intel i3 6300T o equivalente (5,199) - Intel i3 4340 (5,226), e Intel i3 4350 (5,302)
                                como alternativas.</li>
                            <li>
                                <b> Memoria RAM:</b> 8 GB.</li>
                            <li>
                                <b> Espacio disponible en el disco duro: </b>50 GB.</li>
                            <li>
                                <b> Tarjetas gráficas mínimas compatibles: </b>NVIDIA GeForce GTX 670 o AMD Radeon R9 270X.</li>
                            <li>
                                <b> DirectX: </b>12.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- fin especificaciones xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <!-- inicio newsletter xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <div class="newsletter">
        <div class="informacionNewsletter">
            <div class="tituloInformacionNewsletter">
                <h2>mantente en contacto</h2>
            </div>
            <div class="parrafoNewsletter">
                <p>Mantente en contacto con nosotros para recibir noticias sobre FIFA 18 y otros juegos desarrollados por EA.
                    Es un placer tenerte con nosotros. De parte de todo el equipo de desarrollo de EA.</p>
            </div>
        </div>
        <div class="contactoNewsletter">
            <div class="informacionContactoNewsletter">
                <div class="escribirCorreoNewsletter">
                    <input type="text" name="direccion" class="input" placeholder="Escribir Correo"> </div>
                <div class="botonNewsletter">
                    <button class="peque">Registrarse</button>
                </div>
            </div>
        </div>
    </div>
    <!-- fin newsletter xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <!-- inicio footer xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <div class="footer">
        <div class="infoUno">
            <div class="textoInfoUno">
                <h4>FIFA 18 </h4>
            </div>
            <div class="listaInfoUno">
                <ul>
                    <li>
                        <a href="#">Sobre FIFA 18</li>
                    </a>
                    <li>
                        <a href="#">Ultimate Team</a>
                    </li>
                    <li>
                        <a href="#">Novedades</a>
                    </li>
                    <li>
                        <a href="#">Actualizaciones por correo</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="infoDos">
            <div class="listaInfoDos">
                <ul>
                    <li>
                        <a href="#">Competitivo</a>
                    </li>
                    <li>
                        <a href="#">Comunidad</a>
                    </li>
                    <li>
                        <a href="#">FIFA para móviles</a>
                    </li>
                    <li>
                        <a href="#">Consigue FIFA</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="siguenos">
            <div class="textoSiguenos">
                <h4>Síguenos</h4>
            </div>
            <div class="listaSiguenos">
                <ul>
                    <li>
                        <a href="#">Facebook</a>
                    </li>
                    <li>
                        <a href="#">Twitter</a>
                    </li>
                    <li>
                        <a href="#">Newsletter</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="lugares">
            <div class="textoLugares">
                <h4>Lugares</h4>
            </div>
            <div class="listaLugares">
                <ul>
                    <li>
                        <a href="#">América</a>
                    </li>
                    <li>
                        <a href="#">Europa</a>
                    </li>
                    <li>
                        <a href="#">Asia</a>
                    </li>
                    <li>
                        <a href="#">Oceanía</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="logoFooter"></div>
    </div>
<script src="js/sweetalert2/dist/sweetalert2.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/87/three.min.js"></script>
		<script src="js/OrbitControls.js"></script>
		<script src="js/OBJLoader.js"></script>
		<script src="js/MTLLoader.js"></script>
        <script src="js/three.min.js"></script>
		<script src="js/scripts.js"></script>
        


    <script src="js/baguetteBox.js" async></script>
    <script src="js/highlight.min.js" async></script>
    <script src="js/index.js"></script>
    <script src="js/indexDos.js"></script>
    
</body>

</html>