//importo tipografias locales, no esta en googleFonts
@font-face {
    font-family: EASPORTS15;
    src: url(../fonts/ea_font/EASPORTS15.ttf);
}

//importo tipografia de googleFonts
@import url('https://fonts.googleapis.com/css?family=Mukta+Mahee:200,300,400,600,700');
//colores
$colorPrincipal: #221d53;
//tipografias
$tipografiaFifa: EASPORTS15;
$tipografiaParrafos:Mukta Mahee;
//definiciones globales
$tamanoFuente: 28px;
$tamanoMargen: 100px;
* {
    margin: 0;
    padding: 0;
}

p {
    font-family: $tipografiaParrafos;
    color: white;
}

h1 {
    font-family: $tipografiaFifa;
    color: white;
    font-size: 75px;
}

h2 {
    font-family: $tipografiaFifa;
    color: white;
    font-size: 48px;
}

h3 {
    font-family: $tipografiaFifa;
    color: white;
    font-size: 36px;
}

h4 {
    font-family: $tipografiaParrafos;
    color: white;
    font-size: 22px;
    font-weight: 800;
}

h5 {
    font-family: $tipografiaFifa;
    color: $colorPrincipal; //color: white;
    font-size: 18px;
    position: absolute;
    z-index: 999;
    margin-top: -68px;
    margin-left: 81px;
}

h6 {
    font-family: $tipografiaFifa;
    color: white;
    font-size: 18px;
}

button {
    background-image: url(../imagenes/juegos/fondoBotonGrande.png);
    background-size: cover;
    background-color: transparent;
    border: none;
    font-family: $tipografiaFifa;
    color: white;
    height: 68px;
    width: 202px;
}

button:hover {
    transform: scale(1.1);
}

.botonBlanco {
    background-image: url(../imagenes/juegos/fondoBotonBlancoPeque.png);
    background-size: cover;
    font-family: $tipografiaFifa;
    color: white;
    height: 57px;
    width: 166px;
    border: none;
}

.masPeque {
    background-image: url(../imagenes/checkout/botonMasPeque.png);
    background-size: cover;
    font-family: $tipografiaFifa;
    color: white;
    height: 37px;
    width: 107px;
    border: none;
}

.masGrande {
    background-image: url(../imagenes/checkout/botonMasGrande.png);
    background-size: cover;
    font-family: $tipografiaFifa;
    font-size: 29px;
    color: white;
    height: 111px;
    width: 329px;
    border: none;
}

.input {
    height: 54px;
    width: 574px;
    background-color: rgba($color: white, $alpha: 0.7);
    font-family: $tipografiaParrafos;
    font-size: 32px;
    font-weight: 100;
    text-align: center;
    border-radius: 40px 40px 40px 40px;
}

.inputDos {
    height: 35px;
    width: 805px;
    background-color: rgba($color: white, $alpha: 0.7);
    font-family: $tipografiaParrafos;
    font-size: 16px;
    font-weight: 100;
    text-align: center;
    border-radius: 40px 40px 40px 40px;
}

input[type=range] {
    width: 140px;
    margin-top: 5px; //  margin-bottom: -10px;
}

//header----------------------------------------------------------------------------------------------------------------------------------
header {
    background: $colorPrincipal; //width: 1920px;
}

header li a {
    font-family: $tipografiaFifa;
    font-size: 18px;
    color: white;
    text-decoration: none;
}

header li {
    display: inline-block;
    margin-right: 20px;
}

header li:last-child {
    margin-right: 0;
}

.contenedor {
    //width: 1709px;
    height: 110px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
    margin-left: $tamanoMargen;
    margin-right: $tamanoMargen;
}

// fin header------------------------------------------------------------------------------------------------------------------------------
// inicio filtros -------------------------------------------------------------------------------------------------------------------------
.filtros {
    background-color: #2d2d2d;
    height: 110px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center; // desplegar menu ----------------------------------------------------------------------------------------------------------------------
    h6 {
        margin-left: 75px;
        margin-bottom: 10px;
    }
    .minMax,
    .minMaxUno {
        margin-top: -10px;
        background-color: #2d2d2d;
    }
    ul,
    ol {
        list-style: none;
    }
    a {
        margin-top: 15px;
    }
    li {
        margin-bottom: 15px;
    }
    .infoDeFiltroUno,
    .infoDeFiltroDos {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: stretch;
        align-items: center;
        margin-left: -25px;
        p {
            margin-right: 10px;
            margin-left: 10px;
        }
    }
    .nav>li {
        float: left;
    }
    .nav li a {
        color: #fff;
        text-decoration: none;
        display: block;
        background-color: #2d2d2d;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: stretch;
        align-items: center;
    }
    .nav li a:hover {
        background-color: #434343;
    }
    .nav li ul {
        display: none;
        position: absolute;
        min-width: 140px;
    }
    .nav li:hover>ul {
        display: block;
    }
    .nav li ul li {
        position: relative;
    }
    .nav li ul li ul {
        right: -140px;
        top: 0px;
    } // fin desplegar menu ------------------------------------------------------------------------------------------------------------------
    .categoria {
        margin-left: 106px;
        margin-right: 83px;
    }
    .precio {
        margin-right: 83px;
    }
    .buscar {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: center;
        margin-left: 375px;
        .input {
            margin-left: 100px;
            border-radius: 10px 10px 10px 10px;
        }
        .lupa {
            margin-left: -75px;
        }
    }
}

// fin filtros--------------------------------------------------------------------------------------------------------
// inicio publicidad -------------------------------------------------------------------------------------------------
.publicidad {
    background-image: url(../imagenes/juegos/fondoPublicidad.png);
    background-size: cover;
    height: 288px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
    .contenidoPublicidad {
        //se agrega fondo negro con opacidad
        background-color: rgba($color: #000000, $alpha: 0.4);
        border-radius: 40px 40px 40px 40px;
        width: 805px;
        height: 205px;
        margin-left: 106px;
        .infoPublicidad {
            margin-left: 37px;
            margin-right: 37px;
            padding-top: 25px;
            p {
                font-size: 20px;
            }
        }
    }
    .logoPublicidad {
        margin-right: 100px;
    }
}

// fin publicidad -------------------------------------------------------------------------------------------------
// inicio juegos1 -------------------------------------------------------------------------------------------------
.juegos1 {
    background-image: url(../imagenes/juegos/fondoJuegos1.png);
    background-size: cover;
    height: 1920px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    .maddenJuegos1 {
        // margin-left: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: stretch;
        margin-top: 50px; //margin-top: 25px;
        margin-left: 50px;
        .maquetacionMadden {
            margin: 0 50px 50px 50px;
            .imagenDeMadden {
                -webkit-box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.75);
                box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.75);
            }
            .logoDeMadden {
                margin-top: 25px;
                margin-left: 25px;
                width: 63px;
                background-size: cover;
            }
            .precioDeMadden {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: center;
                align-content: stretch;
                align-items: center;
                p {
                    font-size: 30px; //margin-bottom: 20px;
                }
                h3 {
                    font-size: 30px;
                }
            }
            .botonDeMadden {
                margin-left: 75px; //margin-bottom: 55px;
                margin-top: 25px;
            }
        }
    }
}

// fin juegos1 -------------------------------------------------------------------------------------------------
// inicio newsletter -------------------------------------------------------------------------------------------------
.newsletter {
    background-image: url(../imagenes/juegos/fondoNewsletter.png);
    background-size: cover;
    height: 272px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
    .informacionNewsletter {
        width: 900px;
        margin-left: $tamanoMargen;
        .tituloInformacionNewsletter {
            //empty for now
        }
        .parrafoNewsletter {
            margin-top: 15px;
            font-size: $tamanoFuente;
        }
    }
    .contactoNewsletter {
        margin-right: 415px;
        .informacionContactoNewsletter {
            width: 600px;
            .escribirCorreoNewsletter {
                margin-left: 125px;
            }
            .botonNewsletter {
                margin-top: 25px;
                margin-left: 320px;
            }
        }
    }
}

// fin newsletter----------------------------------------------------------------------------------------------------------------------------
// inicio footer ----------------------------------------------------------------------------------------------------------------------------
.footer {
    background-image: url(../imagenes/juegos/fondoFooter.png);
    background-size: cover;
    height: 212px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;
    a {
        list-style: none;
        font-family: $tipografiaParrafos;
        font-size: 20px;
        color: white;
        text-decoration: none;
        font-weight: 200;
    }
    .infoUno {
        margin-left: $tamanoMargen;
        .textoInfoUno {
            //empty for now
        }
        .listaInfoUno {
            li {
                list-style: none;
                font-family: $tipografiaParrafos;
                font-size: 20px;
                color: white;
                text-decoration: none;
                font-weight: 200;
                list-style: none;
            }
        }
    }
    .infoDos {
        margin-left: 92px;
        .listaInfoDos {
            li {
                list-style: none;
                font-family: $tipografiaParrafos;
                font-size: 20px;
                color: white;
                text-decoration: none;
                font-weight: 200;
            }
        }
    }
    .siguenos {
        margin-left: 92px;
        .textoSiguenos {
            //empty for now
        }
        .listaSiguenos {
            li {
                list-style: none;
                font-family: $tipografiaParrafos;
                font-size: 20px;
                color: white;
                text-decoration: none;
                font-weight: 200;
            }
        }
    }
    .lugares {
        margin-left: 92px;
        .textoLugares {
            //empty for now
        }
        .listaLugares {
            li {
                list-style: none;
                font-family: $tipografiaParrafos;
                font-size: 20px;
                color: white;
                text-decoration: none;
                font-weight: 200;
            }
        }
    }
    .logoFooter {
        background-image: url(../imagenes/juegos/logoEA.png);
        background-size: cover;
        height: 43px;
        width: 274px;
        margin-left: 605px;
    }
}

// fin footer----------------------------------------------------------------------------------------------------------------------------
// fin pagina principal -----------------------------------------------------------------------------------------------------------------
// inicio pagina compra -----------------------------------------------------------------------------------------------------------------
.compra {
    background-image: url(../imagenes/compra/fondoCompra.png);
    background-size: cover;
    height: 689px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    .imagenDeJuego {
        margin: 100px 100px 0 100px;
        align-items: center;
        .imagenDeMadden {
            -webkit-box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.75);
        }
        .logoDeMadden {
            margin-left: 20px;
            margin-top: 60px;
        }
    }
    .infoDeJuego {
        margin-top: 100px;
        .nombreDeJuego {
            h2 {
                margin-bottom: 30px;
            }
        }
        .fondoDeInfoJuegos {
            background-color: rgba($color: #000000, $alpha: 0.4);
            border-radius: 40px 40px 40px 40px;
            width: 805px;
            height: 300px;
            .tamanoDeInfoJuegos {
                width: 770px;
                height: 300px;
                margin-left: 20px;
                padding-top: 15px;
                .caracteristicaDeJuego {
                    p {
                        font-size: 20px;
                    }
                }
                .precioDeMadden {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    align-content: stretch;
                    align-items: flex-start;
                    p {
                        font-size: 43px;
                        margin-top: -18px;
                    }
                }
                .fechaDeEstreno {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    align-content: stretch;
                    align-items: flex-start;
                    p {
                        font-size: 43px;
                        margin-top: -18px;
                    }
                }
                .peso {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    align-content: stretch;
                    align-items: flex-start;
                    p {
                        font-size: 43px;
                        margin-top: -18px;
                    }
                }
            }
        }
    }
    .botonComprarJuego {
        margin-top: 280px;
        margin-left: 40px;
        margin-right: 100px;
    }
}

// fin pagina compra -----------------------------------------------------------------------------------------------------------------
// inicio pagina checkout -----------------------------------------------------------------------------------------------------------------
// inicio misJuegos ------------------------------------------------------------------------------------------------------------------
.misJuegos {
    background-image: url(../imagenes/checkout/fondoMisJuegos.png);
    background-size: cover;
    height: 817px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: flex-start;
    .tituloMisJuegos {
        margin-left: 106px;
        margin-top: 45px;
    }
    .logoMisJuegos {
        background-image: url(../imagenes/juegos/logoEAGrande.png);
        background-size: cover;
        height: 76px;
        width: 484px;
        margin-right: 100px;
        margin-top: 45px;
    }
}

// fin misJuegos ------------------------------------------------------------------------------------------------------------------
// inicio datosUsuario ------------------------------------------------------------------------------------------------------------------
.datosUsuario {
    background-image: url(../imagenes/checkout/fondoDatosUsuario.png);
    background-size: cover;
    height: 362px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: flex-start;
    .infoUsuario {
        margin-top: 42px;
        margin-left: 106px;
        .datosNombre {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-content: stretch;
            align-items: flex-start;
            margin-top: 42px;
            .botonNombreUsuario {
                margin-left: 96px;
            }
        }
        .datosCuentaUsuario {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-content: stretch;
            align-items: flex-start;
            margin-top: 42px;
            .botonCuentaUsuario {
                margin-left: 96px;
            }
        }
        .datosTarjetaUsuario {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-content: stretch;
            align-items: flex-start;
            margin-top: 42px;
            .botonTarjetaUsuario {
                margin-left: 96px;
            }
        }
    }
    .botonComprarUsuario {
        margin-top: 209px;
        margin-right: 337px;
    }
}

// fin datosUsuario ------------------------------------------------------------------------------------------------------------------